@import "../sass/keyframes";

.final {
    display: flex;
    padding: none;
    width: 100%;
    height: 400px;
    color: $clr-text-1;
    flex-direction: column;
    justify-content: space-between;

    div.selection-final {
        display: flex;
        justify-content: center;

        h3 {
            font-size: 2rem;
        }
    }

    .end-game {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            display: flex;
            width: 130px;
            height: 42px;
            color: $clr-text-1;
            font-size: 1rem;
            background: none;
            border: 2px solid $clr-text-1;
            border-radius: 8px;
            align-items: center;
            letter-spacing: 3px;
            justify-content: center;
            transition: 0.5s;
            cursor: pointer;
        }

        button:hover {
            background: $clr-text-1;
            color: $clr-text-2;
            border-color: $clr-text-3;
        }
    }

    .picked-card {
        display: flex;
        width: 100%;
        gap: 350px;
        flex-direction: row;
        margin-left: 40px;
        padding-right: 40px;

        .user {
            text-wrap: nowrap;

            .box_game {
                transform: scale(1.5);
                margin-left: -50px;
                margin-top: 100px;
                animation: res_left 2s ease-in-out;
            }
        }


        .waiting {
            position: absolute;
            margin-top: 50px;
            width: 200px;
            height: 205px;
            border-radius: 50%;
            background-color: hsla(0, 0%, 0%, 0.2);
        }

        .home {
            text-wrap: nowrap;

            .box_game {
                transform: scale(1.5);
                margin-top: 100px;
                margin-left: 20px;
                animation: res_right 2s ease-in-out;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .final {
        display: flex;
        gap: 100px;
        height: 400px;
        color: $clr-text-1;

        padding-top: none;

        .picked-card {
            gap: 100px;

            .user {

                .box_game {
                    transform: scale(1);
                    animation: res_left 2s ease-in-out;
                }
            }


            .waiting {
                position: absolute;
                margin-top: -250px;
                margin-left: -10px;
                width: 200px;
                height: 205px;
                border-radius: 50%;
                background-color: hsla(0, 0%, 0%, 0.2);
            }

            .home {
                .box_game {
                    transform: scale(1);
                    margin-left: 35px;
                    animation: res_right 2s ease-in-out;
                }
            }
        }
    }

}